
a {
  text-decoration: none;
}
#navbar{
  margin-bottom:0;
  background:#ece1df;
}
#navbar a:hover,#navbar .active a{
   color: red;
  background-color:#fff;
}
pre {
  margin-left: 3%;
}
body{
  background:#ece1df;
}
.contentBox{
  width:80%;
  margin:0 auto;
}
.typo{
background:#fff;
}
.contentBox .post-content-preview{
font-size:14px;
}
.banner h1{
  padding:100px 0;
  font-size: 1.8em;
  text-align:center;
  background: url(../images/tao-bg.png) no-repeat center center;
  background-size: cover;
}
@media (min-width: 768px){
  .contentBox{
    width:100%;
    margin:0 auto;
  }
.navbar-nav{
  float:right;
}
.contentBox .post-content-preview{
font-size:12px;
}
}