
a {
  text-decoration: none;
}
#navbar{
  margin-bottom:0;
}
#navbar a:hover,#navbar .active a{
   color: red;
  background-color:#ece1df;
}
pre {
  margin-left: 3%;
}
.banner h1{
  padding:100px 0;
  font-size: 1.8em;
  text-align:center;
  background: url(../images/tao-bg.png) no-repeat center center;
  background-size: cover;
}
