/* html {
  height: 100%;
  background: #f7f7f7;
}

body {
  background: #f7f7f7;
  margin: 0;
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  height: 100%;
  color:#555;
} */

.swiper-container {
  width: 100%;
  text-align: center;
  z-index: 1;
}

.swiper-slide .title {
  /* font-style: italic; */
  font-size: 48px;
  position: relative;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 50px;
  height: 50px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.red-slide .textBottom {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 30s infinite linear;
}


.pagination {
  text-align: center;
  padding-bottom: 20px;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}

.swiper-visible-switch {
  background: #aaa;
}

.orange-slide,.red-slide,.blue-slide {
  background: #333;
}

.swiper-slide {
  background-size: cover;
}

.swiper-active-switch {
  background: #fff;
  
}

.typo {
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 960px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background: #fff;
  z-index: 3;
  overflow: hidden;
}

.little-title p {
  font-size: 18px;
  color: #fff;
}

.swiper-container {
  position: fixed;
  top: 0;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@media (max-width: 768px) {

  h2,
  .h2 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 6px;
  }

  .contentBox .posts li {
    padding: 10px;
  }
}

@media (min-width: 767px) {
  #little-title {
    height: 40px;
    line-height: 40px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }
}

a {
    text-decoration: none;
}

pre {
    margin-left: 3%;
}


.typo {
    background: #fff;
}

.contentBox {
    border-right: 1px solid #ddd;
}

.posts {
    padding-top: 20px;
}

.contentBox .posts li {
    position: relative;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 25px;
}

.contentBox .post-content-preview {
    font-size: 16px;
    color: #666;
}

.banner h1 {
    padding: 100px 0;
    color: #fff;
    font-size: 1.8em;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    /* background: url(../images/tao-bg.png) no-repeat center center; */
    background-size: cover;
}

.banner {
    position: relative;
    height: 300px;
}

.banner canvas {
    width: 100%;
    height: 300px;
    background: #000;
}

.content {
    padding: 0 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

@media (max-width: 768px) {
    .rightD .FullText a,
    .rightD .FullText a:hover {
        font-size: 14px;
    }
    .posts .leftD {
        width: 100%;
        float: none;
    }
    .posts .rightD {
        width: 100%;
        float: none;
    }
    .rightD .title {
        margin-top: 10px;
        font-size: 18px;
    }
    .contentBox .post-content-preview {
        font-size: 14px;
    }
}

.user-box {
    width: 100%;
    background: #333;
    padding: 10px 10px 20px 10px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
    .contentBox .post-content-preview {
        font-size: 14px;
    }
}

.posts-expand .post-title-link {
    display: inline-block;
    position: relative;
    color: #555;
    border-bottom: none;
    text-decoration: none;
    line-height: 1.2;
    vertical-align: top;
}

.posts-expand .post-title-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.posts-expand .post-title-link:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.post-header {
    text-align: center;
}

.post-button .btn {
    color: #555;
    font-size: 14px;
    background: #fff;
    border-radius: 2px;
    line-height: 2;
    margin: 0 4px 8px 4px;
}

.btn:hover,
.post-button .btn:hover {
    border-color: #222;
    color: #fff;
    background: #222;
}

.posts-expand .post-title {
  font-size: 26px;
  text-align: center;
  word-break: break-word;
  font-weight: 400;
}
.btn {
	display: inline-block;
	padding: 0 20px;
	font-size: 14px;
	color: #fff;
	background: #222;
	border: 2px solid #555;
	text-decoration: none;
	border-radius: 0;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
  }
  .mt_20{
	  margin-top: 20px;
  }
  .mb_60{
	  margin-bottom: 60px;
  }
  .fs_12{
	  font-size: 12px;
  }
  .grayText{
	  color:#999;
  }