@charset "utf-8";
*{
	margin:0;
	padding: 0;
}

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
	color: #555;
	background: #fff;
	height:100%;
	background: #f5f5f5;
	padding-bottom: 25px;
	-webkit-text-size-adjust: 100%;
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
	-ms-text-size-adjust: 100%;
	height:100%;
}
ul,li{
	list-style: none;
}
body {
    height: 100%;
    background:#f5f5f5;
	position: relative;
	padding-bottom: 40px;
}
body{
	height:100%;
	background: #f5f5f5;

}


/* 底部印刷体、版本等标记 */
small {
	font-size: 12px;
	display: inline-block;
	color: #888;
}

.fs_16{
	font-size: 16px;
}
pre {
	border: 1px solid #DF9A9A;
	border-left-width: 0.4em;
	background: #fbfbfb;
	padding: 10px;
}
