---
title: "coral blog"
---

<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link type="text/css" href="/css/bootstrap.css" rel="stylesheet" />
  <link type="text/css" href="/css/animate.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/idangerous.swiper.css">
  <link type="text/css" href="/css/typo.css" rel="stylesheet" />

  <link type="text/css" href="/css/peter.css" rel="stylesheet" />
  <title>coral's corner</title>
  
</head>
<body>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide red-slide">
        <div class="title">
          <a href="" class="textBottom">博客文章</a>
        </div>
      </div>
      <div class="swiper-slide blue-slide">
        <div class="title">
          <a href="" class="textBottom">博客文章</a>
        </div>
      </div>
      <div class="swiper-slide orange-slide">
        <div class="title">
          <a href="" class="textBottom">博客文章</a>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper" class="typo posts-expand">
    <!-- {{ content }} -->
  
<div class="contentBox col-xs-12 col-sm-10  col-md-9 ">
  <h2 style="border-bottom: 1px solid #ddd; padding-bottom:8px;">文章列表</h2>
  <ul class="posts">
    {% for post in paginator.posts %}
    <li class="clearfix">
      <div class="post-header">
        <h1 class="post-title">
          <a class="post-title-link">{{ post.title }}</a>
        </h1>
        <small class="mb_60">
          <i></i>发表于<span>{{ post.date | date_to_string }}</span>
        </small>
      </div>
      <div class="post-content-preview">
        {{ post.content | markdownify | truncate: 400 }}
        <!-- {{post.excerpt | strip_html}} -->
      </div>
      <div class="post-button text-center mt_20">
        <a class="btn" href="{{ post.url }}" rel="contents">
          阅读全文 »
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
  <p><b>Find me on:</b></p>
  <ul>
    <li><a href="https://github.com/fengye12">Github</a></li>
  </ul>
</div>
<div class="hidden-xs col-sm-2  col-md-3">
  <div class="clock" style="text-align:center;">
    <canvas id="clock" width="120px" height="120px" style="margin:20px auto"></canvas>
  </div>
  <div class="user-box">
    <h2>coral</h2>
    <div>专注于前端知识分享，微信公众号：前后端技术分享屋</div>
  </div>
</div>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>
  
  <script src="/js/jquery-3.1.1.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/idangerous.swiper.js"></script>
  <script>
    //   var bodyH=$("body").height()-50;
    $(".swiper-container").css('height', "200px");
    var swiperH = $(".swiper-container").height() - 20;
    $(".typo").css('margin-top', swiperH);


    var isIE = function (ver) {
      var b = document.createElement('b')
      b.innerHTML = '<!--[if IE ' + ver + ']><i></i><![endif]-->'
      return b.getElementsByTagName('i').length === 1
    }
    var ie = isIE();
    if (ie) {

    }
    var mySwiper = new Swiper('.swiper-container', {
      pagination: '.swip_pagination',
      paginationClickable: true,
      autoplay: 5000,
      onSlideChangeEnd: function (swiper) {
        if (swiper.activeIndex == 1) {
          $(".blue-slide .title").addClass('animated fadeInDown').css('display', 'block');
        } else if (swiper.activeIndex == 2) {
          $(".orange-slide .title").addClass('animated bounceInLeft').css('display', 'block')
        }
      }
    })
  </script>
    <script src="/js/lock.js"></script>
</body>

</html>