<div class="fs_14" style="height: 50px;line-height:50px;border-top:1px solid #ddd"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 文章分类</div>
<ul class="list-group fs_14" style="line-height: 1">
    {% for category in site.categories %}
    <li class="list-group-item J_category_list">
        <span class="badge">{{ category | last | size }} </span>
        {{ category | first }}
        <ul class="arc-list">
                {% for post in category.last %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
         </ul>
    </li>
    {% endfor %}
    <!-- {% for category in site.categories %}
    <h2>{{ category | first }}</h2>
    </span>{{ category | last | size }}</span>
    <ul class="arc-list">
        {% for post in category.last %}
        <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %} -->
   
</ul>

