<div class="fs_14 white_bg" style="border-radius: 4px;margin-top:20px;padding: 10px">
    <div>
        <span class="glyphicon glyphicon-envelope fs_14" style="height:30px;line-height:30px;"
            aria-hidden="true"></span> 关注我
    </div>

    <ul class="fs_12 mt_10 contact_list">
        <li><a href="javascript:;">微信
                <img src="/images/weixin.png" alt="" class="code-img">
            </a></li>
        <li><a href="javascript:;">公众号
                <img src="/images/wgzh.jpg" alt="" class="code-img">
            </a></li>
    </ul>
    <div class="rss_box">
        <a href="/rss.xml">
            <img src="/images/rss.png" alt="rss" class="rss-img">
        </a>

    </div>
</div>