<div class="fs_14 white_bg" style="border-radius: 4px;margin-top:20px;padding: 10px">
        <div>
                <span class="glyphicon glyphicon-envelope fs_14" style="height:30px;line-height:30px;" aria-hidden="true"></span> 联系我
            </div>
            <div class="rss_box">
              <a href="/rss.xml">
                <img src="/images/rss.png" alt="rss" class="rss-img"> 
              </a> 
            </div>
            <ul class="fs_12 mt_10">
                <li>微信: zjs123zjs123456</li>
                <li>qq: 1270763370</li>
                <li>公众号: 前后端技术分享屋</li>
            </ul>
</div>