<nav class="navbar navbar-default " role="navigation" id="navbar">
        <ul class="nav fs_14">
            <li><a href="/index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</a></li>
            <li><a href="/tags.html"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 标签 </a></li>
            <li><a href="/category.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> 分类 </a></li>
            <li><a href="/about.html"><span class="glyphicon glyphicon-user"></span> 关于</a></li>

            
        </ul>
</nav>