<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link type="text/css" href="/css/bootstrap.css" rel="stylesheet" />
  <link type="text/css" href="/css/animate.min.css" rel="stylesheet" />
  <link type="text/css" href="/css/typo.css" rel="stylesheet" />
  <link type="text/css" href="/css/peter.css" rel="stylesheet" />

  <title>coral's corner</title>
  <link rel="stylesheet" href="/css/idangerous.swiper.css">

</head>

<body>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide red-slide">
        <div class="title">
          <a href="" class="textBottom">博客文章</a>
        </div>
        
      </div>
      <div class="swiper-slide blue-slide">
        <div class="title">
          <a href="" class="textBottom">博客文章</a>
        </div>
      </div>
      <div class="swiper-slide orange-slide">
        <div class="title">
          <a href="" class="textBottom">博客文章</a>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper" class="typo posts-expand">
    {{ content }}
  </div>
  <script src="/js/jquery-3.1.1.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/idangerous.swiper.js"></script>
  <script>
    //   var bodyH=$("body").height()-50;
    $(".swiper-container").css('height', "200px");
    var swiperH = $(".swiper-container").height() - 20;
    $(".typo").css('margin-top', swiperH);


    var isIE = function (ver) {
      var b = document.createElement('b')
      b.innerHTML = '<!--[if IE ' + ver + ']><i></i><![endif]-->'
      return b.getElementsByTagName('i').length === 1
    }
    var ie = isIE();
    if (ie) {

    }
    var mySwiper = new Swiper('.swiper-container', {
      pagination: '.pagination',
      paginationClickable: true,
      autoplay: 8000,
      onSlideChangeEnd: function (swiper) {
        if (swiper.activeIndex == 1) {
          $(".blue-slide .title").addClass('animated fadeInDown').css('display', 'block');
        } else if (swiper.activeIndex == 2) {
          $(".orange-slide .title").addClass('animated bounceInLeft').css('display', 'block')
        }
      }
    })
  </script>
    <script src="/js/lock.js"></script>
</body>

</html>